@{
    ViewData["Title"] = "Home Page";
}
@section title{
    <h2>@ViewData["Title"]</h2>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <marquee>Pradeep is my name</marquee>
</div>
